<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi3A51zS2-kCqDV7ttixYykV6zPL1CL_M</string>
	<key>GCM_SENDER_ID</key>
	<string>457226915095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adsSampleApp</string>
	<key>PROJECT_ID</key>
	<string>ads-sample-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ads-sample-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457226915095:ios:1269ea0f7e038a4cd5bb52</string>
</dict>
</plist>